*{
    cursor:none;
    box-sizing: border-box;
}
.header{
    padding: 15%;
    align-items: center;
    background-image: url("wallpaper.jpg"), linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.445));
    background-size:100%;
    background-position:center;	
    text-align:center;
    align-content: center;
    height:100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.res{
    background-repeat:no-repeat;
    height:100vh;
    justify-content: center;
    overflow: hidden;
}
.page2{
    background: black;
}
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}
.cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}
.header-text{
    font-size:700%;
    color: white;
    display:grid;  
    place-items:center;
}


@media only screen and (max-width: 600px){
    .cursor{
        visibility: hidden;
    }
    .cursor2{
        visibility: hidden;
    }
    .header-text{
        font-size: 300%;
        color: white;
        align-self: center;
        align-content: center;
    }
    .header{
        padding: 100px;
        background-size:200%;
        background: none;
        background-color: black;
      }
}
.btn{
    cursor: none;
}
.bg-white{
    cursor: none;
}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.padding-link{
    padding-left: 50px;
}
.syj{
    margin-top: 9%;
    cursor: none;
}

.nav_styling{
    width: 100px;
}
.hamburger{
    display: none;
}
@media only screen and (max-width: 1320px){
    #header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px){
    #header{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav_styling{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2s;
    }
}
footer{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    align-self: baseline;
    overflow: hidden;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;

}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}